:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --footerLink: hsl(228, 45%, 44%);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    outline: 0;
}

body {
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    background-color: var(--lightGray);
}

img {
    width: 100%;
}

.container {
    /* 320px */
    width: 20rem;
    /* 85px */
    margin: 5.3125rem auto;
    border-radius: 1.25rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0px .5rem 2rem 0px var(--grayishBlue);
}

.content {
    margin-top: 1rem;
    text-align: center;
}

.qr-code {
    border-radius: .625rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--darkBlue);
}

.p {
    width: 90%;
    margin: 1rem auto 0;
    /* 15px */
    font-size: 0.9375rem;
    color: var(--grayishBlue);
}

.attribution {
    margin-top: 1rem;
    /* 11px */
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: var(--footerLink);
}